{% load static %}

<!DOCTYPE html>
<html lang="tr-tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
</head>
<body >
    {% include 'core/navbar.html' %}

    {% for mainadvert in mainadvert_objects %}
    <div class="container mt-3">
      <img src="{{ mainadvert.image.url }}" class="d-block w-100" alt="" style="max-width: 100%; height: 150px;">
    </div>
    {% endfor %}

    {% block content %}
    {% endblock %}
    
    <style>
      .custom-whatsapp-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 999;
      }
    </style>
    
    <a href="https://api.whatsapp.com/send?phone={{ contact_objects.0.contact_number }}" target="_blank" class="btn custom-whatsapp-button">
      <img src="{% static 'media/whatsappicon.png' %}" alt="WhatsApp" style="width: 60px; height: 60px;">
    </a>
  

    {% include 'core/footer.html' %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/style.js' %}"></script>
      <!-- Lightbox kütüphanesini ekleyin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>


</body>
</html>


