{% for categories in category_objects %} 
<style> .card {  
  width: 18rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
  </style>
<div class="col-sm-3" >
  <div class="card mt-3" onclick="window.location='{{categories.slug}}';">
    <img src="{{ categories.photo.url }}" class="card-img-top" alt="{{ categories.title }}" width="300" height="200">
    <div class="card-body">
      <h5 class="card-title">
        {{ categories.title|truncatechars:26 }}
      </h5>
      <p class="card-text">
        {{ categories.description|truncatechars:100 }}
      </p>
    </div>
  </div>
</div>


{% endfor %} 