{% load static %}
  <nav class="navbar navbar-expand-lg navbar-dark rounded p-3 mt-2 custom-orange-bg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Gece Wallpaper</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse show" id="navbarsExample09">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Anasayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tum_urunler' %}">Tüm Ürünler</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Kategoriler</a>
            <ul class="dropdown-menu">
              {% for categories in category_objects %}
              <li><a class="dropdown-item" href="/{{categories.slug}}">{{ categories.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
        <form role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>