{% extends 'core/base.html'  %}

{% block title %} Tüm Ürünler {% endblock %}

{% block content %}

<p class="font_0 wixui-rich-text__text mt-3" style="font-size:31px; line-height:normal; text-align:center; "><span style="font-size:31px;" class="wixui-rich-text__text"><span style="font-family:open sans condensed,sans-serif;" class="wixui-rich-text__text"><span style="letter-spacing:normal;" class="wixui-rich-text__text">Koleksiyon içerisindeki tüm ürünler duvar ebatınıza göre özel olarak üretilmektedir.<br class="wixui-rich-text__text">
    Uygulamayı düşündüğünüz duvarın ebatını beğendiğiniz görselle birlikte bizimle paylaşın.</span><br class="wixui-rich-text__text">
    <span style="letter-spacing:normal;" class="wixui-rich-text__text">Öncelikle görseli duvar ebatına göre ölçeklendireceğiz.<br class="wixui-rich-text__text">
    Onayınız sonrasında ürünler baskıya alınacaktır.&nbsp;</span></span></span></p>

</p>
<div class="container">
    <div class="row">
        {% for product in product_objects %}
        <div class="col-sm-4 mt-3">
            <a href="{{ product.image.url }}" data-lightbox="image-gallery" data-title="{{ product.title }}">
                <div class="img-container" style="width: 400px; height: 400px; overflow: hidden;">
                    <img src="{{ product.image.url }}" alt="{{ product.title }}" style="object-fit: cover; width: 100%; height: 100%;">
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
